@charset "UTF-8";

body {
	
	color: #222222;
}
.loginForm-container {
	width: 360px;
	margin: 0 auto;
	padding: 60px 0;
}

.loginForm-container form input {
	width: 100%;
	padding: 14px 18px;
	margin-bottom: 1px;
	border: 1px solid #d6deeb;
}

.loginForm-container form button {
	width: 100%;
	padding: 14px 0;
	margin-top: 10px;
	color: #ffffff;
	background-color: #343A40;
	outline: none;
	border: 1px solid #000033;
	border-radius: 5px;
	margin-bottom: 10px;
	
}

.loginForm-container .go-login-join {
	width:100%;
	
}
.loginForm-container .go-login-join .oauth-login {
	margin-top: 10px;
}
.loginForm-container .go-login-join .oauth-login a{
	text-decoration: none;
}
.loginForm-container .go-login-join .oauth-login a span {
	color: #222222;
	margin-left: 10px;
	vertical-align: middle;
	font-weight: 600;
}
.loginForm-container .go-login-join .oauth-login .google{
	background: #fff;
	padding: 12px 18px;
	border-radius: 5px;
	border: 1px solid #d1d5d9;
	box-shadow: 0 2px 4px 0 rgb(209 213 217 / 30%);
}
.loginForm-container .go-login-join .oauth-login .google img {
	width: 30px;
	height: 30px;
}
.loginForm-container .go-login-join .oauth-login .facebook {
	background: #3f51b5;
	padding: 12px 8px;
	border-radius: 5px;
	border: 1px solid #d1d5d9;
	box-shadow: 0 2px 4px 0 rgb(209 213 217 / 30%);
}
.loginForm-container .go-login-join .oauth-login .naver {
	background: #00c737;
	padding: 12px 8px;
	border-radius: 5px;
	border: 1px solid #d1d5d9;
	box-shadow: 0 2px 4px 0 rgb(209 213 217 / 30%);
}
.loginForm-container .go-login-join .oauth-login .kakao {
	background: #fddc3f;
	padding: 12px 8px;
	border-radius: 5px;
	border: 1px solid #d1d5d9;
	box-shadow: 0 2px 4px 0 rgb(209 213 217 / 30%);
}
.loginForm-container .go-login-join .oauth-login .facebook a span {
	color: #fff;
}
.loginForm-container .go-login-join .oauth-login .facebook img {
	width: 40px;
	height: 40px;
}
.loginForm-container .go-login-join .oauth-login .naver img {
	width: 40px;
	height: 40px;
}
.loginForm-container .go-login-join .oauth-login .kakao img {
	width: 40px;
	height: 40px;
}
.loginForm-container .go-login-join .oauth-login .naver a span {
	color: #fff;
}
.loginForm-container .go-login-join .none-join {
	font-weight: 600;
	margin-right: 5px;
}

.loginForm-container .go-login-join .go-join {
	font-weight: 500;
	text-decoration: none;
}

